@charset "UTF-8";

body {
	background-color: #0099cc url(../img/background.png) no-repeat scroll
		left top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}


.wrapper {
	width: 85%;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}


.wrapper p {
	display: block;
	margin-block-start: 10px;
	margin-block-end: 10px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.wrapper p.header_name{
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight:bold;
	font-size: 18pt;
	line-height: 100%;
	letter-spacing: 0.5px;
}
.wrapper input[type=submit]{
	align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    border: 1px solid #ccc;
    background-color: #ffffff;
    box-sizing: border-box;
}
.wrapper input[type=submit]:hover{
	background-color: #33adff;
}
.wrapper input[type=radio]:disabled{
	background-color: #33adff;
}

.wrapper button{
	align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    border: 1px solid #ccc;
    background-color: #ffffff;
    box-sizing: border-box;
}
.wrapper button:hover {
	background-color: #33adff;
}

.box.card input[type=button]{
	align-items: flex-start;
    text-align: center;
    cursor: default;
    font-size: 12pt;
    color: buttontext;
    border: 1px solid #ccc;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 80%;
    padding: 2% 0;
    margin:2% 10%;
}
.box.card button, .box.card input[type=submit]{
	align-items: flex-start;
    text-align: center;
    font-size: 12pt;
    cursor: default;
    color: buttontext;
    border: 1px solid #ccc;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 1%;
}
.box.card button:hover, .box.card input[type=button]:hover, .box.card input[type=submit]:hover{
	background-color: #33adff;
}

.layout p, .layout input, .layout textarea, .layout button{
	margin-left: 2%;
}

.wrapper .instructions_box, .wrapper .data_box {
	display: flex;
}
.wrapper .box {
	float: left;
}
.wrapper .box.card.s1 {
	width:100%;
	margin-bottom: 1%;
}
.wrapper .box.card.s2 {
	width:100%;
	margin-top: 1%;
}
.wrapper .box.card.s0 {
	width:100%;
	margin-bottom: 2%;
}
.wrapper .box.card {
	margin-right: 3%;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 2%;
}
.wrapper .box.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#otherHelpTypeRichText{
	display: none;
	border: 1px solid #ccc;
	width:70%;
}

.wrapper .form_part1{
	width:50%;
	float:left;
}
.wrapper .form_part2{
	width:50%;
	float:right;
}

#btnSaveComment {
    font-size: 12pt;
}
/* loading spinner */
.loading {
    position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999;
    background: url(/SES2B/img/Loading.gif) center no-repeat transparent;
}
.Back {
	align-items: flex-start;
    text-align: center;
    cursor: default;
    margin-top: 2%; 
    font-size: 15pt; 
    padding: 1%;
    color: buttontext;
	border: 1px solid #ccc;
    background-color: #ffffff;
    box-sizing: border-box;
}
.Back:hover {
	background-color: #33adff;
}