@charset "UTF-8";

select {
	width: 10%;
}
select:focus {
	min-width: 100px;
	width: auto;
} 

p {
	display: block;
	margin-block-start: 10px;
	margin-block-end: 10px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

p.header_name{
	display: block;
	margin-block-start: 5px;
	margin-block-end: 5px;
	padding: 7px 5px 5px;
	font-weight:bold;
	font-size: 18pt;
	line-height: 100%;
}

#delete, #btnAddSessions, #update, #sendMail {
	align-items: flex-start;
    text-align: center;
    cursor: default;
    margin-top: 2%; 
    font-size: 15pt; 
    padding: 10px 2%;
    color: buttontext;
	border: 1px solid #ccc;
    background-color: #ffffff;
    box-sizing: border-box;
}
#delete:hover, #btnAddSessions:hover, #update:hover, #sendMail:hover {
	background-color: #33adff;
}

#btnClearAddSessions{
	align-items: flex-start;
    text-align: center;
    cursor: default;
    margin-top: 2%; 
    font-size: 14pt; 
    color: buttontext;
	border: 1px solid #ccc;
    background-color: #ffffff;
    box-sizing: border-box;
}
#btnClearAddSessions:hover{
	background-color: #33adff;
}

#placeAvailable, #maximumPlace {
	width: 20%;
}

.wrapper table input {
    width: 95%;
    font-size: 12pt;
}

.wrapper .instructions_box, .wrapper .data_box {
	display: flex;
}
.wrapper .box {
	float: left;
}
.wrapper .box.card.s1 {
	width:100%;
	margin-bottom: 1%;
}
.wrapper .box.card.s2 {
	width:100%;
	margin-top: 1%;
}
.wrapper .box.card.s0 {
	width:100%;
	margin-bottom: 2%;
}
.wrapper .box.card {
	margin-right: 3%;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 2%;
}
.wrapper .box.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.attendance{
	margin-top: 3em;
	padding-bottom: 1em;
	border-bottom: 2px solid #ccc;
	
}

.dataTables_length{
	width:30%;
}