@charset "UTF-8";
body {
	background-color: #0099cc url(../img/background.png) no-repeat scroll
		left top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	padding-top: 20px;
}

.wrapper nav {
	margin-top: 10px;
	font-size: 0.8em;
}

.wrapper h2 {
	letter-spacing: 0.5px;
}

.wrapper .selectArea {
	padding-bottom: 10px;
}

.wrapper .selectArea .emailType {
	float: left;
}

.wrapper #changeTemplate { 
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px #cacaca solid;
	border-bottom: 1px #cacaca solid;
}

.wrapper #changeTemplate h3 {
	text-align: center;
}

.wrapper #changeTemplate table th {
	font-weight: normal;
	font-size: 1em;
}

.wrapper #changeTemplate textarea {
	resize:
	width: 95%;
}

.wrapper #changeTemplate .publishArea {
	background-color: #dadbdd40;
	color: #bc4115;
}

.wrapper .instruction {
	border-top: 1px #cacaca solid;
	padding: 10px;
}

.wrapper .instruction .bullet {
	padding: 15px;
}

.wrapper .header3 {
	display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.wrapper .instructions_box, .wrapper .data_box {
	display: flex;
	margin: 2%;
}
.wrapper .box {
	float: left;
}
.wrapper .box.card h4, .wrapper .box.card p {
	text-align: center;
	padding: 1%;
}
.wrapper .box.card.s1 {
	width:100%;
	margin-bottom: 1%;
}
.wrapper .box.card.s2 {
	width:100%;
	margin-top: 1%;
}
.wrapper .box.card.s0 {
	width:110%;
}
.wrapper .box.card {
	margin-right: 1%;
	margin-left: 1%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.wrapper .box.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
