body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

/* header nav {
	text-align: center;
	margin: 4px;
}

header nav a {
	padding: 5px;
	background-color: #5ebef0;
	font-weight: 600;
	font-size: 0.8em;
	color: #fff;
	text-decoration: none;
}

header nav a:hover {
	padding: 5px;
	background-color: #fff;
	font-weight: 600;
	font-size: 0.8em;
	color: black;
	text-decoration: none;
	border: 1px #5ebef0 solid;
} */

.wrapper {
	width: 90%;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.wrapper nav {
	margin-top: 10px;
	margin-bottom: 30px;
}

.wrapper nav a {
	padding: 5px;
	background-color: #5ebef0;
	font-weight: 600;
	font-size: 0.8em;
	color: #fff;
	text-decoration: none;
}

.wrapper nav a:hover {
	padding: 5px;
	background-color: #fff;
	font-weight: 600;
	font-size: 0.8em;
	color: black;
	text-decoration: none;
	border: 1px #5ebef0 solid;
}

.wrapper .title {
	font-size: 15pt;
    font-weight: bold;
}

.wrapper #skillsInput {
	width: 50%;
    font-size: 15pt;
    padding: 5px;
    margin-right: 1%;
}

.wrapper table input {
	width: 95%;
	font-size: 12pt;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: black;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: black;
}

.wrapper table th a {
	font-size: 0.8em;
	font-weight: normal;
}

.wrapper .buttonArea {
	text-align: center;
	padding: 5px;
}

.wrapper .instructions_box, .wrapper .data_box {
	display: flex;
}
.wrapper .box {
	float: left;
}
.wrapper .box.card.s1 {
	width:100%;
	margin-bottom: 1%;
}
.wrapper .box.card.s2 {
	width:100%;
	margin-top: 1%;
}
.wrapper .box.card.s0 {
	width:100%;
	margin-bottom: 2%;
}
.wrapper .box.card {
	margin-right: 3%;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 2%;
}
.wrapper .box.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.buttonArea {
	align-items: flex-start;
    text-align: center;
    cursor: default;
    margin-top: 2%; 
    font-size: 15pt; 
    padding: 1%;
    color: buttontext;
	border: 1px solid #ccc;
    background-color: #ffffff;
    box-sizing: border-box;
}
.buttonArea:hover {
	background-color: #33adff;
}

footer {
	padding: 8px;
	text-align: center;
	font-size: 0.8em;
	color: #595a5a;
}